# Environment: dev, production
ENVIRONMENT=dev

PROJECT_NAME="Top Rekrut Backend API"

ECHO_SQL_QUERIES=True

# Backend
BACKEND_CORS_ORIGINS="*"
SECRET_KEY=some-secret-key

# AUTH0
AUTH0_DOMAIN=
AUTH0_AUDIENCE=

# Postgres
POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=some-password
